45 8 * * * /etc/hitronReboot/hitronReboot.sh > /proc/1/fd/1 2>/proc/1/fd/2
# An empty line is required at the end of this file for a valid cron file.
# Some reason I need to set it for 8:45 instead of 3:45... 

